.task-card {
  transition: 0.1s ease;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding: 15px 25px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.task-card:hover {
  transform: scale(1.01);
}

.task-card .context .title {
  font-size: 18px;
  font-weight: 600;
}

.task-card .context .description {
  color: var(--gray-6);
  max-width: 800px;
  font-size: 14px;
}

.task-card .context .date {
  margin-top: 7px;
  font-size: 10px;
  font-weight: 500;
  color: var(--gray-4);
  align-self: baseline;
}

.task-card .options {
  display: flex;
  gap: 5px;
}
