#todo {
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 30px 0;
}

#todo .container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#todo .container .wrapper .header > *:not(:first-child):not(:last-child) {
  margin: 7px 0;
}

#todo .container .wrapper .header button {
  background-color: var(--blue);
  color: var(--gray-0);
}
