#todo {
  min-height: 100vh;
  background-color: var(--background-color);
}

#todo .container .wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "tasks";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
}

/* Header */

.header {
  background-color: var(--background-color);
  padding-top: 20px;
  position: sticky;
  top: 0;
}

.header > *:not(:first-child):not(:last-child) {
  margin: 7px 0;
}

.header .add-task-btn {
  background-color: var(--blue);
  color: var(--gray-0);
}

/* Tasks */

.tasks {
  grid-area: tasks;
  padding: 20px;
  background-color: var(--white);
}
