#todo {
  min-height: calc(100vh - 49px);
  background-color: var(--gray-1);
  padding: 20px 0;
}

#todo .container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Header */

.header > *:not(:first-child):not(:last-child) {
  margin: 10px 0;
}

.header .add-task-btn {
  background-color: var(--primary-color);
  color: var(--gray-0);
}

/* Tasks */

.tasks {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--gray-2);
}

@media screen and (min-width: 768px) {
  .tasks {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tasks > * {
    width: calc((100% - (10px * 2)) / 3);
    flex: 1;
  }
}
