:root {
  --gray-0: #fafafa;
  --gray-1: #f4f4f5;
  --gray-2: #e4e4e7;
  --gray-3: #d4d4d8;
  --gray-4: #a1a1aa;
  --gray-5: rgb(113, 113, 122);
  --gray-6: rgb(82, 82, 91);
  --gray-7: rgb(63, 63, 70);
  --gray-8: rgb(39, 39, 42);
  --gray-9: rgb(24, 24, 27);
  --gray-10: rgb(9, 9, 11);

  --white: #ffffff;

  --blue: #1c58d9;

  --primary-color: #f4512c;
  --secondary-color: #5e1b89;
  --background-color: var(--gray-0);
}
