:root {
  --gray-0: rgb(248, 250, 252);
  --gray-1: rgb(241, 245, 249);
  --gray-2: rgb(226, 232, 240);
  --gray-3: rgb(203, 213, 225);
  --gray-4: rgb(148, 163, 184);
  --gray-5: rgb(1, 116, 139);
  --gray-6: rgb(71, 85, 105);
  --gray-7: rgb(51, 65, 85);
  --gray-8: rgb(30, 41, 59);
  --gray-9: rgb(15, 23, 42);
  --gray-10: rgb(2, 6, 23);

  --white: #ffffff;

  --blue: #1c58d9;

  --primary-color: #5e1b89;
  --primary-color-rgb: 94, 27, 137;
  --secondary-color: #f4512c;
  --background-color: var(--gray-0);
}
