.navbar {
  grid-area: navbar;
  position: sticky;
  top: 0;
  z-index: 1;

  padding: 10px;
  background: var(--secondary-color);
  background: linear-gradient(
    90deg,
    var(--secondary-color) 0%,
    var(--primary-color) 60%
  );
}

.navbar .fluid-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .fluid-container .brand h1 {
  color: var(--white);
  font-weight: 900;
}

.navbar .fluid-container .hamburger .icon-button {
  color: var(--secondary-color);
  background-color: var(--white);
  font-size: medium;
}
