.bread-crumb {
  display: flex;
  flex-wrap: wrap;
  border: 1px var(--gray-2) solid;
  background-color: white;
}

.bread-crumb button {
  border: 0;
  padding: 10px;
  flex: 1;
  cursor: pointer;
  font-weight: 500;
  transition: 0.1s ease;
  background-color: var(--white);
}

.bread-crumb button:hover {
  background-color: var(--gray-1);
}

.bread-crumb button.active {
  background-color: var(--secondary-color);
  color: var(--white);
  font-weight: bold;
}
