.edit-task-modal .buttons {
  display: flex;
  gap: 10px;
}

.edit-task-modal .buttons button {
  color: var(--gray-0);
}

.edit-task-modal .buttons .edit-btn {
  background-color: var(--secondary-color);
}
