.delete-all-task-modal .buttons {
  display: flex;
  gap: 5px;
}

.delete-all-task-modal .delete-btn {
  background-color: var(--primary-color);
  color: var(--gray-0);
}

.delete-all-task-modal .cancel-btn {
  background-color: var(--gray-0);
  color: var(--gray-10);
}
