.link {
  text-decoration: none;
  font-weight: 500;
  color: var(--gray-6);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.link:hover {
  background-color: var(--gray-1);
  border-radius: 5px;
}

.link.active {
  background-color: var(--secondary-color);
  color: var(--gray-0);
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .link .text {
    display: none;
  }
}
