* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

.fluid-container {
  width: 90%;
  margin: auto;
}

body {
  background-color: var(--gray-1);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}
