*::-webkit-scrollbar {
  width: 8px;
  background-color: var(--gray-1);
}

*::-webkit-scrollbar:hover {
  background-color: var(--gray-1);
}

*::-webkit-scrollbar-thumb:vertical {
  background: var(--gray-3);
}

*::-webkit-scrollbar-thumb:vertical:active {
  background: var(--gray-4);
}
