.todo-box {
  background-color: var(--white);
  padding: 25px;
  margin-top: 10px;
  width: 100%;
  min-height: 500px;
  border-radius: 7px;
  border: 1px var(--gray-2) solid;

  display: grid;
  grid-template-areas:
    "sidebar"
    "tasks";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.todo-sidebar {
  grid-area: sidebar;
  display: flex;
  flex-wrap: wrap;
}

.todo-sidebar button {
  flex: 1;
  padding: 10px 15px;
  border: 0;
  background-color: var(--gray-1);
  cursor: pointer;
}

.todo-sidebar button.active {
  background-color: var(--primary-color);
  color: var(--gray-1);
  font-weight: bold;
}

.todo-tasks {
  grid-area: tasks;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
