.icon-button {
  padding: 7px;
  border: 0;
  border-radius: 3px;
  color: var(--gray-7);
  cursor: pointer;
  background-color: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: medium;
}

.icon-button:hover {
  background-color: var(--gray-2);
}
