.icon-button {
  padding: 5px;
  border: 0;
  border-radius: 3px;
  color: var(--gray-7);
  cursor: pointer;
  background-color: transparent;
}

.icon-button:hover {
  background-color: var(--gray-2);
}
